@import "../../../data/styles.css";

.resume {
	display: flex;
}

.resume a {
	text-decoration: none;
}

.resume-left-side {
	min-width: 20%;
	max-width: 20%;
}

.resume-right-side {
	flex-basis: 80%;
	min-width: 700px;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	padding: 30px;
}

.resume-right-side:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.resume-date {
	padding-top: 30px;
	font-size: 15px;
	color: var(--tertiary-color);
}

.resume-title {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
}

.resume-description {
	padding-top: 10px;
	font-size: 12px;
	color: var(--secondary-color);
	font-weight: 480;
	line-height: 25px;
}

.resume-link {
	padding-top: 10px;
	font-size: 14px;
	color: var(--link-color);
	font-weight: 700;
}

@media (max-width: 1024px) {
	.resume-left-side {
		min-width: 10%;
		max-width: 10%;
	}

	.resume-right-side {
		flex-basis: 90%;
		min-width: 85%;
		max-width: 85%;
	}
}
